* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Youtube Noto', serif, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.main-cont {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
}

.navigation-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /*justify-content: space-between;*/
  margin: 10px;
}

.logo-cont {
  display:flex;
  /*align-self: flex-start;*/
  width: 15%;
}

.search-cont {
  display:flex;
  margin-top: 5px;
  width: 50%;
}

.icons-cont {
  display:flex;
  justify-content: space-around;
  width: 22%;
  margin-right: 30px;
}

.img-youtube-logo {
  min-width: 20px;
  margin-right: 20px;
  height: 20px;
  margin-top: 11px;
  margin-left: 10px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .video-icon {
    margin-left: 300px;
  }
  .apps-icon{
    margin-left :20px;
  }
  .user-icon {
    margin-left :20px;
  }
  .bell-icon {
    margin-left :20px;
  }

  .video-icon, .apps-icon, .user-icon, .bell-icon, .yt-logo, button {
      cursor: pointer;
  }
  
  .mainview-cont {
    display:flex;
    align-items: flex-start;
  }
  
  .left-section{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 70%;
  }

  hr {
    width: 100%;
  }

  .subscribers-section {
    display: flex;

  }

  .subs-btn-num {
    display: flex;
  }

  .avatar-cont {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }

  .yt-videos-picture {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-content: flex-start;
    margin-right: 250px;
  }

  .toggle-cont {
    display: flex;
  }

  


  