* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, serif, sans-serif;
    font-stretch: ultra-condensed;
    font-size: 12px;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
}

.main-cont {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 15px;
}

.nav-cont {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo-cont {
  display:flex;
  padding: 0;
  margin-top: 10px;
  margin-left: 50px;
}

.search-cont {
  display:flex;
  margin-top: 12px;
  margin-right: 20px;
  padding: 0;
}

.icons-cont {
  display:flex;
  justify-content: space-evenly;
  width: 15%;
  margin-top: 5px;
  margin-right: 100px;
}

.yt-logo {
  width: auto;
  height: auto;
  max-height: 120px;
  max-width: 120px;
  margin-top: 7px;
  margin-left: 40px;
}

form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 470px;
    height: 30px;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
  }

  form.example button {
    width: 50px;
    height: 30px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; /*Prevent double borders */
    margin: 0;
  }

  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .video-icon {
    width: auto;
    height: auto;
    max-width: 20px;
    max-height:20px;
    margin-right: 15px;
  }

  .apps-icon{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    margin-right: 13px;
  }

  .user-icon {
    width: auto;
    height: auto;
    max-width: 17px;
    max-height: 17px;
  }

  .bell-icon {
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    margin-right: 13px;
  }

  /* --------- Main view side: video, description and suggested videos --------- */
  .mainview-cont {
    display:flex;
    align-items: flex-start;
    padding-top: 15px;
  }
  
  .left-section{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 70%;
  }

  hr {
    width: 100%;
  }

  .subscribers-section {
    display: flex;

  }

  .subs-btn-num {
    display: flex;
  }

  .avatar-cont {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }

  /* -------- Right side, suggested videos -------- */

  .suggestedVids-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 0px 13px;
    background-color: white;
  }
  
  .upNext-cont {
    display: flex;
    justify-content: flex-start;
  }
  
  .upNext-cont h5 {
    font-size: 12px;
  }
  
  .toggle-cont {
    display: flex;
    margin-left: 180px;
    justify-content: space-between;
    text-transform: uppercase;
    color: darkslategrey;
  }
  
  .toggle-cont span {
    margin-top: 15px;
    margin-left: 15px;
    color: #0b7dda;
  }
  
  .suggest-videos-1 {
    display: flex;
    margin-bottom: 30px;
  }
  
  .suggest-videos {
    display: flex;
    margin-bottom: 12px;
  }
  
  .suggestVid-descrip {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: self-start;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  
  .video-icon, .apps-icon, .user-icon, .bell-icon, .yt-logo, button, .suggest-videos {
    cursor: pointer;
}

  


  