body {
    margin: 0;
}

nav {
  display: block;
    margin-left: 20px;
    margin-top: 30px;
}

.img-logo {
  width: 40px;
  height: 40px;
}

.navigation-icon {
    display: flex;
    flex-direction: row;  
}

.img-youtube-logo {
  width:50px;
  height:50px;

}
.searchbox-size {
    width: 45%;
    margin-left: 90px;
}

.searchbox-pad {
    padding-right: 0px;
}


* {
    box-sizing: border-box;
  }


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .video-icon {
    margin-left: 250px;
  }
  .apps-icon{
    margin-left :20px;
  }
  .user-icon {
    margin-left :20px;
  }
  .bell-icon {
    margin-left :20px;
  }

  .video-icon, .apps-icon, .user-icon, .bell-icon, .yt-logo, button {
      cursor: pointer;
  }
  
  .container {
    display:flex;
    
  }
  
  .yt-video-left{
    /* flex-grow: 3; */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .yt-videos-picture  {
    display: flex;
flex-direction: column;
    margin-bottom: 20px;
    height: 100px;
    /* width : 150px; */
    margin-left: 50px;
  }

  .thumb-up{
    margin-top: 10px;
    margin-left: 780px;
  }
  .thumb-down{
    margin-top: 10px;
    margin-left: 20px;
  }

  .share{
    margin-top: 10px;
    margin-left: 20px;
  }

  .profile-img {
height:40px;
  }
  .subscribe-btn {
    background-color: red;
    opacity: 0.9;
    border-radius: 5px;
  }

  
  .subscribe {
    display: inline-flex;
  }

  .viewer {
    margin-left: 650px;
  }
  .paragraph {
    flex-wrap: wrap;
    width:900px
  }

  .img-class {
    width: 150px;
    height: 120px;
  }

  .side-pic {
    display:flex;
  }

   .para {
    margin-left: 10px;
  }
  .side-row {
    display: flex;
    flex-direction: column;
  }